<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.oleksandrpriadko.demo">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/MainTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".item_decoration.ItemDecorationActivity"
            android:label="ItemDecoration" />

        <activity
            android:name=".logpublish.LogPublishActivity"
            android:label="LogPublish" />

        <activity
            android:name=".cocktails.search.SearchActivity"
            android:label="Cocktails"
            android:launchMode="singleTask"
            android:theme="@style/CocktailTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/cocktail_host"
                    android:pathPrefix="@string/cocktail_pathPrefixSearch"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cocktails.drinkdetails.DrinkDetailsActivity"
            android:theme="@style/CocktailThemeDetails">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/cocktail_host"
                    android:pathPrefix="@string/cocktail_pathPrefixCocktail"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cocktails.splash.CocktailSplashActivity"
            android:theme="@style/CocktailThemeSplash" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="35ba9af7c2f219ba35a8a57ea690f62d5a52318e" />
    </application>
</manifest>